p,
a,
h1,
h2,
h4,
h3,
span,
img,
div,
input,
i,
dl,
dt,
dd,
* {
  margin: 0;
  padding: 0;
  border: 0;
}
a:link,
a:visited {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.clear {
  overflow: hidden;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.clearfix:after {
  content: " ";
  clear: both;
  height: 0;
  display: block;
}
.dis-none {
  display: none;
}
.wid {
  width: 1200px;
  margin: 0 auto;
}
.heiti {
  font-family: SimHei;
}
.sunti {
  font-family: SimSun;
}
.mr-15 {
  margin-right: 15px;
}
.header {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  height: 68px;
  line-height: 68px;
}
.header .logo {
  float: left;
}
.header .logo img {
  margin-top: 20px;
  padding-right: 10px;
}
.header .logo span {
  width: 1px;
  height: 35px;
  display: inline-block;
  background-color: #969695;
}
.header ul {
  float: left;
}
.header ul:after {
  content: " ";
  clear: both;
  height: 0;
  display: block;
}
.header ul li {
  float: left;
  font-size: 18px;
  font-family: SimHei;
  margin-left: 55px;
}
.header ul li:hover a {
  color: #e60012;
}
.header .goin {
  float: right;
}
.header .goin:after {
  content: " ";
  clear: both;
  height: 0;
  display: block;
}
.header .goin img {
  display: block;
  margin-top: 25px;
  float: left;
}
.header .goin a {
  padding-left: 10px;
  font-size: 20px;
  color: #e60012;
  float: left;
  font-family: SimHei;
}
.allheng {
  width: 100%;
  height: 1px;
  background-color: #969695;
}
.col-e6 {
  color: #e60012;
}
.fhtop {
  position: fixed;
  z-index: 99999;
  right: 0;
  bottom: 10px;
  padding-bottom: 73px;
}
.fhtop > div {
  width: 62px;
  height: 64px;
  background-color: #b1b1b1;
}
.fhtop > div img {
  margin-left: 3px;
  margin-top: 22px;
}
.fhtop > div p {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  padding: 5px 0 0 0;
  color: #fff;
}
.fhtop > div:hover {
  background-color: #f37a09;
}
.fhtop .uptop {
  margin-top: 5px;
}
.fhtop .uptop img {
  margin-top: 10px;
  width: 35%;
  margin-left: 18px;
}
.woyaoruzhu {
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.woyaoruzhu h3 {
  width: 100%;
  font-size: 30px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
}
.woyaoruzhu h4 {
  width: 60%;
  font-size: 14px;
  color: #f00;
  line-height: 30px;
  font-weight: 400;
  text-align: right;
  padding: 0 20%;
}
.woyaoruzhu ul {
  width: 920px;
  margin: 0 auto;
  overflow: hidden;
}
.woyaoruzhu ul .selbox {
  float: right;
  width: 700px;
  height: 38px;
  padding: 15px 0;
}
.woyaoruzhu ul .sel {
  position: relative;
  border: solid 1px #b5b5b5;
  width: 500px;
  height: 38px;
  padding: 0 10px;
  background: url(../datang/images/travker/select.jpg) no-repeat 500px center;
  font-size: 14px;
  line-height: 40px;
  font-family: SimSun;
}
.woyaoruzhu ul .sel > ol {
  background-color: #fff;
  position: absolute;
  width: 518px;
  border: solid 1px #000;
  border-left: solid 1px #b5b5b5;
  border-top: 0;
  left: 0;
  top: 39px;
  display: none;
  z-index: 9999;
}
.woyaoruzhu ul .sel > ol > li {
  height: 16px;
  line-height: 16px;
}
.woyaoruzhu ul .sel > ol > li:hover {
  background-color: #39f;
}
.woyaoruzhu ul > li {
  float: right;
  font-family: SimHei;
  position: relative;
  width: 700px;
  padding: 15px 0;
}
.woyaoruzhu ul > li:after {
  content: " ";
  clear: both;
  height: 0;
  display: block;
}
.woyaoruzhu ul > li > span {
  position: absolute;
  line-height: 46px;
  font-size: 16px;
  color: #f00;
  left: 530px;
  top: 15px;
}
.woyaoruzhu ul > li > span p {
  position: absolute;
  width: 200px;
  left: 20px;
  top: -3px;
}
.woyaoruzhu ul > li input {
  font-family: SimSun;
  width: 500px;
  height: 38px;
  padding: 0 10px;
  line-height: 40px;
  font-size: 16px;
  color: #666;
  border: 1px solid #b5b5b5;
}
.woyaoruzhu ul > li textarea {
  font-family: SimSun;
  width: 500px;
  padding: 0 10px;
  line-height: 40px;
  font-size: 16px;
  color: #666;
  border: 1px solid #b5b5b5;
  height: 160px;
  resize: none;
  overflow: hidden;
}
.woyaoruzhu ul li.ku {
  width: 180px;
  float: left;
  padding-right: 20px;
  text-align: right;
  line-height: 40px;
  font-size: 16px;
  color: #565555;
}
.woyaoruzhu > a {
  font-family: SimHei;
  display: block;
  width: 300px;
  margin: 10px auto;
  background: #e60012;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  clear: both;
  letter-spacing: 3px;
}
.footer {
  background-color: #5a5a5a;
  width: 100%;
  height: 254px;
  padding-top: 30px;
}
.footer:after {
  content: " ";
  clear: both;
  height: 0;
  display: block;
}
.footerbox > div {
  float: left;
}
.footerbox .frienghref h3 {
  height: 40px;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
}
.footerbox .frienghref ul {
  width: 540px;
  height: 60px;
  padding: 10px 0;
  border-top: 1px solid #696969;
  border-bottom: 1px solid #696969;
}
.footerbox .frienghref ul li a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #c7c7c7;
}
.footerbox .frienghref ul li a:hover {
  color: #fff600;
}
.footerbox .erweima {
  padding: 0 30px;
}
.footerbox .erweima > img {
  width: 166px;
  padding-bottom: 5px;
}
.footerbox .erweima p {
  position: relative;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 16px;
  font-family: SimHei;
}
.footerbox .erweima p img {
  position: absolute;
  top: 6px;
  left: 0;
}
.footerbox .erweima p span {
  margin-left: 22px;
}
.footerbox .ruzhu > a {
  display: block;
  width: 190px;
  height: 40px;
  overflow: hidden;
  background: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  color: #e40101;
  margin: 15px 0 25px 20px;
}
.footerbox .ruzhu .tel {
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  background: url(../datang/images/travker/tle.png) left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}
.footerbox .ruzhu .dizhi {
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  padding-left: 20px;
  font-style: normal;
  background: url(../datang/images/travker/add.png) no-repeat left center;
}
.footerbox .ruzhu span {
  font-weight: 400;
  line-height: 36px;
  font-size: 14px;
  color: #fff;
  float: left;
  padding-left: 20px;
  font-style: normal;
}
